<%- include ('../_partials/_header.ejs') -%>


<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">New Post</a>

  </li>
  </ul>
  <form class="form-inline my-2 my-lg-0" action='/TopicsPage/<%=topicID%>/search' method="get">
    <input class="form-control mr-sm-2"name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </nav>
  
  <div id="page-container">
    <div id="content-wrap">
  


<div class="container">
    <div class="p-3 mb-2 bg-light text-dark">
      <div class="heading-message">
        <%if(postMessage){ %>
          <h4><%=postMessage%></h4>
          <%} %>
   
    
      </div>
  
 <% let allPosts=JSON.parse(posts); 
    let topicid = topicID;
    if(allPosts.length >= 1){
allPosts.forEach((post)=>{
    
    %>    
    <div class='alert alert-dark row mt-4'>
        <div class="col-6 col-md-8">
            <h1> <a href="/Post/<%=post.uuid%>" class='post-link'><%=post.title%></a></h1> 
            <h5><%=post.description%></h5>
        </div>
        <div class="col col-md-2 align-self-center username">
            <h4><%=post.username%></h4>
        </div>
        <div class="col col-md-2 align-self-center icon-container">
         <a href="#"> <i class="fas fa-heart" onclick="changeColor(this)"> <h5 id='votes'><%=post.votes%></h5></i></a>  
        

        </div>
    </div>

<%
});
    }else{
%>
   <h1 class="first"><i>No Posts!</i></h1>>
<% }%>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="./<%=topicID%>/createPost">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Post Title</label>
              <input type="text" id="newPostTitle" class="form-control" name="title">
            </div>
            <div class="form-group">
              <label for="message-text"  class="col-form-label">Description</label>
              <textarea class="form-control" id="newPostDesc" name="description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick=" return emptyPost()">Create Post</button>
              </div>
          </form>
        </div>
      
      </div>
    </div>
  </div>



<%- include ('../_partials/_footer.ejs') -%>
