<%- include ('../_partials/_header.ejs') -%>


<li class="nav-item">
  <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">New Topic</a>
</li>
</ul>

<form class="form-inline my-2 my-lg-0" method="get" action="/TopicsPage/search">
  <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>

<div id="page-container">
  <div id="content-wrap">

<div class="topics">
        <%let data = JSON.parse(topics); 
        let allImages = JSON.parse(images);
      
        data.forEach(topic => {
        var name = topic.topic_name;
        var desc = topic.topic_description;
        var id = topic.topic_id;
        let image = allImages[Math.floor(Math.random()*allImages.length)];
        console.log(image);

        %>
    <div class="card" style="width: 20rem;">
        <img src="/<%=image.image%>" class="card-img-top" alt="image1">
        <div class="card-body">
          <h5 class="card-title" id="topic_name"><%=name%></h5>
          <p class="card-text"><%=desc%></p>
          <a href="/TopicsPage/<%=topic.topic_id %>" class="btn btn-success"> View Topic</a>
        </div>
      </div>
      <% }); %>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Topic</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/TopicsPage/createTopic">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Topic Title</label>
                <input type="text" class="form-control" name="title">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Description</label>
                <textarea class="form-control" name="description"></textarea>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create Topic</button>
                </div>
            </form>
          </div>
        
        </div>
      </div>
    </div>
  
  
    
    <%- include ('../_partials/_footer.ejs') -%>
